@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.glow {
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.7);
}